# Docker Compose project name
PROJECT_HOME=/app
COMPOSE_PROJECT_NAME=flight-delay

# Flask
FLASK_PORT=5001

# Kafka
KAFKA=kafka:9092
TOPIC_IN=request
TOPIC_OUT=response

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_USER=admin
MINIO_PASSWORD=password

# MLflow
MLFLOW_URI=http://mlflow:5000

# Spark
SPARK_MASTER_URL=spark://spark-manager:7077
PREDICTION_JAR=/app/spark-jobs/target/scala-2.13/spark-jobs_2.13-0.1.jar

# Cassandra
CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042